/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/**********************************************************
                FEUILLE DE STYLES ORIGINALE
**********************************************************/

body {
    font: 13px/1.4 Verdana, Arial, Sans-Serif;
    color: #404040;
    background: #9ac5e7 url(../images/fond.jpg) repeat;
}
main {
    position: relative;
    background-color: #FFFFFF;
    border: 2px solid #000;
    margin: 20px auto 20px auto;
    width: 800px;
    text-align: justify;
}

h1, h2, h3 {
    font-weight: bold;
    margin: 1em 0;
}
h1, h2 {
    padding-left: 0.5em;
}
h1 {
    font-size: 21px;
}
h2 {
    font-size: 18px;
    border-bottom: 2px solid #FF9B37;
}
h3 {
    font-size: 15px;
    margin-left: 1em;
}
p { 
    margin: 1em;
}
strong { 
    font-weight: bold;
}
a {
    text-decoration: none;
    color: #3c96f1;
}
a:hover { 
    text-decoration: underline;
}
.lienExterne:hover {
    background: url(../images/lien_externe.gif) no-repeat right;
    padding-right: 20px;
}
.clear {
    clear: both;
}
.font6 {
    font-size: 6px;
}
ul {
    margin: 0em 1em 1em 3em;
}
li {
    background: url(../images/puce.png) no-repeat;
    padding-left: 16px;
}

/** Listes générales **/
nav {
    margin: 0 0 2em 1em;
}
nav ul {
    margin: 0;
}   
nav ul ul {
    margin-left: 3em;
}
nav li {
    margin: 0.5em 0;
}
/**********************************************************
                    formulaire
**********************************************************/

label img {
    border: 5px solid black;
}

label p {
    font-size: 30px;
    font-weight: bold;
}

#nom_text {
    grid-area: nom_text;
}
#prenom_text {
    grid-area: prenom_text;
}
#email_text {
    grid-area: email_text;
}
#tel_text {
    grid-area: tel_text;
}
#date_text {
    grid-area: date_text;
}
#nom_input{
    grid-area: nom_input;
}
#prenom_input{
    grid-area: prenom_input;
}
#email_input{
    grid-area: email_input;
}
#tel_input{
    grid-area: tel_input;
}
#date_input{
    grid-area: date_input;
    display: flex;
}
#date_input select{
    background-color:#b4b3b2;
}

#info_perso{
    display: grid;
    justify-items:start;
    grid-template-columns:1fr 1fr;
    grid-template-areas:
    "nom_text nom_input"
    "prenom_text prenom_input"
    "email_text email_input"
    "tel_text tel_input"
    "date_text date_input";
    
}

#info_perso >label {
    justify-self: end;
}

input[type="radio"]{
    display: none;
}

#div_abonnement{
    display: grid;
    margin-left:30px ;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
}

#div_abonnement > label[for^="rad"]{
    width: 140px;
    height: 200px;
    border:solid 5px black;
    font-size: 30px;
    
    color:black;
    font-weight: bold;
    text-align: center;
    align-content: center;
    background-image: url("../images/fond.png");
}

#div_abonnement input:checked + label[for^="radio"]{
    border-color: red;
    color: red;
}

#cbElec {
    grid-area: cbElec_input;
    justify-self: end;
}
#cbElec_text {
    grid-area: cbElec_text;
}
#cbPapier {
    grid-area: cbPapier_input;
    justify-self: end;
}
#cbPapier_text {
    grid-area: cbPapier_text;
    justify-self: start;
}
#txtAdresse {
    display: none;
    grid-area: txtAdresse_input;
}
#txtAdresse_text{
    display: none;
    grid-area: txtAdresse_text;
    justify-self: end;
}
#numCP{
    display: none;
    grid-area: numCP_input;
}
#numCP_text{
    display: none;
    grid-area: numCP_text;
    justify-self: end;
}
#txtVille{
    display: none;
    grid-area: txtVille_input;
}
#txtVille_text{
    display: none;
    grid-area: txtVille_text;
    justify-self: end;
}

#cbPapier:checked ~ .info_livraison{
    display: block;
}


#div_support{
    display: grid;
    justify-items:start;
    grid-template-columns:50px 200px 50px 200px;
    grid-template-areas:
    "cbElec_input cbElec_text cbPapier_input cbPapier_text"
    ". txtAdresse_text txtAdresse_input ."
    ". numCP_text numCP_input ."
    ". txtVille_text txtVille_input .";
}

#cbCGU{
    grid-area: cbCGU_input;
    justify-self: end;
}
#cbCGU_text{
    grid-area: cbCGU_text;
}
#cbOffres{
    grid-area: cbOffres_input;
    justify-self: end;
}
#cbOffres_text{
    grid-area: cbOffres_text;
}



#div_validation{
    display: grid;
    justify-items:start;
    row-gap: 10px;
    grid-template-columns:50px 400px;
    grid-template-areas:
    "cbCGU_input cbCGU_text"
    "cbOffres_input cbOffres_text"
}

#div_bouton{
    display: flex;
    justify-content: center;
}

#div_bouton > input{
    margin-left: 15px;
    margin-bottom: 15px;
    border: solid black 2px;
    font-weight: bold;
}
#div_bouton > input[type="submit"]:hover,#div_bouton > input[type="reset"]:hover{
    color: white;
    background-color: red;
}







/**********************************************************
                    bloc de 6 images
**********************************************************/
#bcCompo {
    position: relative;
    height: 350px;
}
#bcCompo img{
    position: absolute;
}
img[src*="lecteur"] {
    width: 103px;
    height: 128px;
    top: 125px;
    left: 350px;
}
img[src*="watchmen"] {
    width: 130px;
    height: 198px;
    top: 20px;
    left: 80px;
}
img[src*="PHP4dummies"] {
    width: 120px;
    height: 177px;
    left: 560px;
    top: 40px;
}
img[src*="H2G2"] {
    width: 100px;
    height: 165px;
    left: 240px;
    top: 120px;
}
img[src*="TWD"] {
    width: 100px;
    height: 154px;
    top: 200px;
    left: 430px;
}
img[src*="1984"] {
    width: 100px;
    height: 160px;
    top: 0px;
    left: 370px;
}

/**********************************************************
        positionnement des 3 images flottantes
**********************************************************/
img[src*="paiement_securise"] {
    float: right;
    width: 112px;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
}
img[src*="livraison"] {
    width: 100px;
    height: 86px;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}
img[src*="cadeau_souris"] {
    float: right;
    width: 140px;
    height: 140px;
    margin-top: 10px;
    margin-right: -70px;
    border: solid 2px #000;
    margin-left: 10px;
}


/**********************************************************
            Enseigne avec les liens des réseaux
**********************************************************/
aside {
    position: fixed;
    margin-top: 0px;
    margin-left: -202px;
    height: 200px;
    width: 200px;
    background: url(../images/enseigne.png) no-repeat;
}
aside a {
    width: 32px;
    height: 32px;
    float: left;
}
a[href*="facebook"] {
    background: url(../images/rezosociaux.jpg) no-repeat 0px 0px;
    margin-top: 80px;
    margin-left: 52px;
}
a[href*="twitter"]  {
    background: url(../images/rezosociaux.jpg) no-repeat -76px 0px;
    margin-top: 80px;
    margin-left: 5px;
}
a[href*="google"]  {
    background: url(../images/rezosociaux.jpg) no-repeat -38px 0px;
    margin-top: 5px;
    margin-left: 52px;
}
a[href*="pinterest"]  {
    background: url(../images/rezosociaux.jpg) no-repeat -113px 0px;
    margin-top: 5px;
    margin-left: 5px;
}

/**********************************************************
                            Entête
**********************************************************/
header {
    position: relative;
    background-image: url(../images/entete.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    padding: 0;
    margin: 0;
}
header nav {
    position: absolute;
    width: 422px;
    height: 153px;
    top: 10px;
    left: 20px;
    margin: 0;
}
header > img[src*="soustitre"] {
    position: absolute;
    width: 364px;
    height: 50px;
    bottom: 0;
    right: 0;
}
header nav a[href*="index"] {
    display: block;
    height: 100%;
    background: transparent url(../images/logo.png) no-repeat;
}
header nav:hover a:not(:first-child) {
    display: block;
}
header nav a:not(:first-child) {
    position: absolute;
    display: none;
    height: 55px;
    width: 55px;
}
header nav a[href*="recherche.php"]  {
    background: url(../images/icon-search.png) no-repeat;
    top: 120px;
    left: -10px;
}
header nav a[href*="recherche.php"]:hover {
    background: url(../images/icon-search-hover.png) no-repeat;
}
header nav a[href*="panier.php"] {
    background: url(../images/icon-cart.png) no-repeat;
    top: 130px;
    left: 50px;
}
header nav a[href*="panier.php"]:hover {
    background: url(../images/icon-cart-hover.png) no-repeat;
}
header nav a[href*="liste.php"] {
    background: url(../images/icon-list.png) no-repeat;
    top: 120px;
    left: 110px;
}
header nav a[href*="liste.php"]:hover {
    background: url(../images/icon-list-hover.png) no-repeat;
}
header nav a[href*="compte.html"] {
    background: url(../images/icon-account.png) no-repeat;
    top: 125px;
    left: 170px;
}
header nav a[href*="compte.php"]:hover {
    background: url(../images/icon-account-hover.png) no-repeat;
}
header nav a[href*="deconnexion.php"] {
    background: url(../images/icon-logout.png) no-repeat;
    top: 125px;
    left: 270px;
}
header nav a[href*="deconnexion.php"]:hover {
    background: url(../images/icon-logout-hover.png) no-repeat;
}

/**********************************************************
                        Articles
**********************************************************/
figure {
    display: inline-block;
    width: 195px;
    height: 230px;
    text-align: center;
    vertical-align: top;
    position: relative;
}
figure img {
    width: auto;
    height: 160px;
    border: solid 1px #000;
}
figure:hover .addToCart, figure:hover .addToWishlist{
    visibility: visible;
}
.addToCart {
    position: absolute;
    visibility: hidden;
    top: 30px;
    right: 0px;
    width: 40px;
    height: 25px;
    background: url(../images/btnAddToCart.png) no-repeat;
}
.addToWishlist {
    position: absolute;
    visibility: hidden;
    top: 65px;
    right: 0px;
    width: 40px;
    height: 40px;
    background: url(../images/btnAddToWishlist.png) no-repeat;
}

/**********************************************************
                        Pied de page
**********************************************************/
footer {
    margin: 2em 0 0 0;
    padding-top: 10px;
    text-align: center;
    font-size: 10px;
}

/*______________ FIN DE LA FEUILLE DE STYLES ______________________*/
